[v-cloak]{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #D5E0B8;

}

h1{
    text-align: center;
    background-color: #485525;
    color: #DEE6C6;
    border-bottom: 3px solid #282F0E;
    font-size: 3vw;
    padding: 1.5vw;
}

h2{
    font-size: 1.7vw;
}

/* Forms */

.forms-display{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4vw;
}

form{
    width: 45%;
    background-color: #B7CE63;
    border: 4px solid #424E18;
    border-radius: 10px;
    padding: 1vw;
}

fieldset{
    border: none;
}

.gridForms{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5vw 0.5vw 0 0.5vw;
}

.form-fila{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}

.form-fila div{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1vw;
}

input, select{
    margin-top: 0.5vw;
    width: 11vw;
    font-size: 1vw;
    padding: 0.3vw;
    border-radius: 5px;
    border: 1px solid #282F0E;
}

.selectForm{
    display: flex;
    flex-direction: column;
}

.mostrarError{
    color: red;
    font-size: 0.8vw;
    width: 10vw;
}

.ocultarError{
    display: none;
}

/* Atributos */

.sectionAtributos{
    padding: 0 0.5vw;
}

.h2-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
}

.divSpanPuntos{
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #788D2A;
    border: 1px solid #485525;
    border-radius: 50%;
    padding: 0.3vw;
}

.divSpanPuntos span{
    color: #DEE6C6;
    font-size: 1.5vw;
}

.pDescripcion{
    font-size: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
}

.divAtributos{
    display: flex;
    justify-content: space-around;
}

.divAtributos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.divAtributos div div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divAtributos div div button{
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #788D2A;
    border: 1px solid #485525;
    border-radius: 50%;
    color: #D5E0B8;
    font-size: 1.5vw;
    cursor: pointer;
}

.divAtributos p{
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.btnCrear{
    width: 95%;
    text-align: end;
    margin-top: 2vw;
}

.btnCrear button{
    background-color: #788D2A;
    border: 2px solid #485525;
    border-radius: 20px;
    color: #D5E0B8;
    font-size: 1vw;
    padding: 0.5vw;
    cursor: pointer;
}

/* Card Actual */

.cardPrincipal{
    background-color: #B7CE63;
    border: 4px solid #424E18;
    border-radius: 10px;
    width: 30vw;
    height: 32vw;
}

.cardPrincipal p{
    font-size: 2vw;
    text-align: center;
}

.cardPrincipal p:first-of-type{
    padding-top: 0.5vw;
    font-weight: bolder;
}

.divImgMonstruo img{
    width: 10vw;

}